<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-12 text-center">
                    <h2 class="section-heading">O podjetju</h2>
                    <img class="mx-auto img-circle mb-4" src="img/about/1.jpg" alt="me">
                    <p> </p>   
                    <div>
                        Strojna popravila Gabrijel Berkopec s.p. je majhno, a inovativno podjetje, ki ga vodi Gabrijel Berkopec. Ima veliko izkušenj in je strokovnjak na področju kovinarstva in strojništva. Podjetje se osredotoča na zagotavljanje kakovostnih izdelkov ali storitev, ki jih izdeluje ali izvaja.

                        Podjetje je specializirano za popravilo in vzdrževanje strojnih inštalacij in lastnik si prizadeva, da bi bilo v tej panogi čim bolj konkurenčno. Kot lastnik podjetja se osredotoča na zadovoljevanje potreb in pričakovanj strank. Vodi podjetje z veliko predanostjo in z veseljem sprejema nove izzive.    
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>